<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhijith.daggerhilttest">

    <application
        android:name=".ApplicationScoped"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityScoped">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceScoped"
            android:foregroundServiceType="location" />
        <receiver
            android:name=".DownloadCancelReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="nn"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>